@font-face {
  font-family: mainFont;
  src: url("../assets/fonts/Rubik-VariableFont_wght.ttf");
}
/* body::-webkit-scrollbar {
  width: 0.5em;
  z-index: 100;
  background-color: transparent;
} */

/*#################### SCROLL BAR ##########################*/
/* width */
::-webkit-scrollbar {
  width: 7px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #60a3bc;
  background-color: transparent;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.6);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #263159;
}
/*########################################################*/
* {
  font-family: mainFont;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #251749;
  margin-bottom: 10px;
}

a.hovertext:hover {
  transform: scale(1.1);
}

h1 {
  text-align: center;
  color: black;
}

div {
  text-align: center;
}

img {
  margin: 0 20px 0 20px;
  border-radius: 10px;
}

.movies {
  display: inline;
  justify-content: center;
  display: flex;
}

p {
  color: black;
  text-align: center;
  margin: 0;
}

figcaption {
  color: black;
  text-align: center;
  font-family: mainFont;
}

.navigation > ul > li {
  list-style: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 15px;
  padding: 10px;
  color: #251749;
  background: linear-gradient(225deg, #fffffb, #e6e2d4);
  margin-right: 8px;
}

.selected {
  color: black;
  width: 100%;
  border: 4px;
  border-bottom-style: solid;
  text-decoration-color: white;
}

header {
  background-color: #464e2e;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 80px;
}

nav {
  height: 70px;
  background-color: rgb(0, 0, 0, 0.6);
}

body {
  background-image: radial-gradient(
    circle,
    rgb(16, 16, 96),
    cyan,
    rgb(31, 31, 104)
  );
  background-position-y: center;
  /*background: rgb(151, 35, 86);
  background: -moz-radial-gradient(
    circle,
    rgba(151, 35, 86, 1) 0%,
    rgba(0, 61, 133, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(151, 35, 86, 1) 0%,
    rgba(0, 61, 133, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(151, 35, 86, 1) 0%,
    rgba(0, 61, 133, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#972356",endColorstr="#003d85",GradientType=1);*/
  overflow: overlay;
}

/*#####################  IMDB top 10 ######################*/
.img_top10imdb {
  border-radius: 10px;
  float: left;
  transform: scale(1.15);
  margin: 20% 12% 17% 17%;
}
.figtop10imdb > a {
  height: 200px;
  width: 130px;
  border-radius: 10px;
}

.figtop10imdb figcaption {
  display: none;
  text-align: center;
  margin-left: 20px;
  margin-top: 14px;
  color: black;
}
.imdbgenre {
  display: none;
  color: #bdc3c7;
  margin-top: 5%;
}

.imdbdesc {
  display: none;
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  color: #bdc3c7;
}
.figtop10imdb {
  display: inline;
  height: 300px;
  padding-left: 0%;
  padding-top: 0%;
}

.figtop10imdb h4 a {
  color: white;
  height: 200px;
}
.figtop10imdb h4 {
  color: white;
  height: 200px;
  display: inline;
  font-size: 1.45vw;
}

.figtop10imdb:hover {
  color: black;
}

.figtop10imdb li {
  color: white;
  font-size: 1vw;
  margin-left: 7%;
}
.orderedImdb {
  padding: 0px;
}
.imdb {
  height: 300px;
  border-radius: 12px;
  display: block;
  margin: 0 30%;
  background-color: #263159;
  margin-bottom: 5%;
  font-size: 0.8vw;
  width: 200px;
  height: 300px;
}

footer {
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
}

@media (min-width: 900px) {
  .img_top10imdb {
    margin-top: 10%;
    margin-left: 5%;
  }
  .figtop10imdb {
    display: flex;
    padding-left: 5%;
    padding-top: 5%;
  }
  .figtop10imdb figcaption {
    display: block;
    float: right;
  }
  .imdbgenre {
    display: block;
  }

  .imdbdesc {
    display: block;
  }
  .imdb {
    width: 40%;
  }
  .figtop10imdb li {
    width: 90%;
  }
}
/*##############################################################*/
h1 {
  text-align: center;
  color: black;
}

.movies {
  justify-content: center;
  display: flex;
  flex: 20%;
  align-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}

p {
  color: black;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

div > h3 {
  margin: 30px 0 20px 0;
}

/*########################## HomeScreen ##########################*/
.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100%;
  overflow-x: hidden;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-left: 112px;
  padding-right: 112px;
  flex-direction: column;
  background-size: cover;
  background-image: url(/assets/img/wallpapersden.com_starry-galaxy_5120x2880.jpg);
}
.home-menu {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  flex-direction: column;
}
.home-logo {
  width: 64px;
}
.home-links {
  gap: 32px;
  display: flex;
  margin-top: 32px;
  align-items: flex-start;
  flex-direction: column;
}
.home-close-mobile-menu {
  top: 24px;
  right: 24px;
  width: 48px;
  height: 48px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-icon {
  width: 24px;
  height: 24px;
  display: flex;
}
.home-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: 24px;
  align-items: center;
  flex-direction: column;
}
.home-centered {
  display: flex;
  max-width: 1200px;
  align-self: stretch;
  box-sizing: initial;
  align-items: center;
  border-color: #000000;
  border-width: 0px;
  padding-left: 24px;
  border-radius: 60px;
  padding-right: 24px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #251749;
}
.home-image {
  width: 175px;
  object-fit: cover;
}
.home-left {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#dropdown-menu {
  background-color: rgb(0, 0, 0, 0.6);
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.dropdown-itemFirst,
.dropdown-itemMiddle {
  color: white;
  font-weight: bold;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 10px;
}

.dropdown-itemLast {
  color: white;
  font-weight: bold;
  flex-wrap: wrap;
  padding: 10px;
}
.dropdownall {
  display: block;
}
#dropdown-menu li {
  padding: 0 25%;
  margin-bottom: 20px;
}

.dropdown-itemFirst:hover,
.dropdown-itemMiddle:hover,
.dropdown-itemLast:hover {
  color: #251749;
  border-radius: 20px;
  background-color: white;
}
.franch,
.home-text03,
.home-text04,
.home-text05 {
  display: none;
}
@media (min-width: 768px) {
  .franch,
  .home-text03,
  .home-text04,
  .home-text05 {
    display: inline;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
  }
  .dropdownall {
    display: none;
  }
  .container-fluid {
    width: 100%;
  }
}
@media (min-width: 600px) {
  #dropdown-menu li {
    padding: 0 42%;
  }
}

.franch:hover,
.home-text03:hover,
.home-text04:hover,
.home-text05:hover {
  color: #251749;
  border-radius: 20px;
  background-color: white;
}
.home-right {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 24px;
  flex-direction: row;
  padding-bottom: 24px;
}
.home-get-started {
  cursor: pointer;
  text-align: center;
  transition: 0.3s;
  align-items: center;
  padding: 16px;
  border-radius: 56px;
  flex-direction: column;
  background-color: #000000;
}
.home-get-started:hover {
  background-color: #5228f5;
}
.home-text06 {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
}
.home-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.home-header {
  display: flex;
  margin-top: 140px;
  align-items: center;
  flex-direction: column;
}
.home-text07 {
  color: rgb(255, 255, 255);
  font-size: 72px;
  align-self: stretch;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  line-height: 55px;
}
.home-text08 {
  color: rgb(238, 233, 254);
  font-size: 20px;
  max-width: 600px;
  margin-top: 16px;
  text-align: center;
  line-height: 30px;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home-get-started1 {
  color: white;
  cursor: pointer;
  margin-top: 40px;
  transition: 0.3s;
  padding: 16px 32px;
  border-radius: 56px;
  background-color: #251749;
}
.home-get-started1:hover {
  color: black;
  background-color: #ffffff;
}
.home-text09 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-banners {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.films,
.tv-shows {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.film,
.tv-show {
  display: inline-flex;
  justify-content: center;
  margin: 0 10px 20px 10px;
}

.images {
  width: 200px;
  height: 270px;
}

.imagesf {
  width: 200px;
  height: 230px;
}

div > a #hovertext {
  text-decoration: none;
}

a > p {
  color: black;
  text-align: center;
  margin-top: 0;
  font-family: mainFont;
}
.sm-logo {
  margin: 0 30px;
  width: 35px;
}
.home-footer {
  opacity: 0.6;
}
.sm-logos {
  display: flex;
}
.card {
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 30px;
  color: white;
}
.card-text {
  font-style: normal;
  color: white;
}
.card-img-top {
  border-radius: 27px;
}
.card:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(1.025);
}
.explore-cards {
  display: flex;
  justify-content: space-between;
}
/* .nav-link:hover {
} */
.franch {
  color: black;
}

a.hovertext {
  position: relative;
}

.heart-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  outline: none;
}

.heart-button:before {
  content: "\2665";
  font-size: 30px;
  color: #fff;
}

.heart-button.clicked:before {
  color: #ff0000;
}
